<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Job Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .btn-custom {
            width: 100%;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

<!-- Header -->
<div th:replace="~{common/header.html}"></div>
<div>
    <div th:if="${param.success}">
        <p class="alert alert-success text-center">
            <span>Registration successful! </span>
            <a href="/login">Log in now to get started!</a>
        </p>
    </div>
    <div th:if="${param.fail}">
        <div class="alert alert-danger text-center">You've unsuccessfully registered! Please try again!</div>
    </div>
</div>
<div class="container mt-4" style="justify-content: center;display: flex;">

    <div class="d-flex">
        <div class="card p-4 mr-2" style="max-width: 400px; width: 100%;">
            <h3 class="text-center mb-4">Register as Candidate</h3>
            <p class="text-center">Create an account to find job opportunities and apply easily.</p>
            <div class="d-flex flex-column">
                <a href="#registerCandidateModal" data-toggle="modal" class="btn btn-primary btn-custom">Register as
                    Candidate</a>
            </div>
        </div>
        <div class="card p-4 ml-2" style="max-width: 400px; width: 100%;">
            <h3 class="text-center mb-4">Register as Company</h3>
            <p class="text-center">Create an account to post job listings and find top talent.</p>
            <div class="d-flex flex-column">
                <a href="#registerCompanyModal" data-toggle="modal" class="btn btn-secondary btn-custom">Register as
                    Company</a>
            </div>
        </div>

    </div>
</div>
<!-- Register Modal For Company -->
<div class="modal fade" id="registerCompanyModal" tabindex="-1" role="dialog" aria-labelledby="registerCompanyModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register as Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/register/company">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Company Name:</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Web URL:</label>
                            <input type="text" class="form-control" placeholder="Web URL" name="welUrl" required>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-12 form-group">
                            <label>About Company:</label>
                            <textarea type="text" class="form-control" placeholder="About company" name="about"
                                      required></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6 form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" placeholder="Password" name="password" required>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-6 form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="text" class="form-control" placeholder="Phone Number" name="phone" required>
                        </div>
                        <div class="col-md-6 form-group city">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" placeholder="City" name="city" required>
                        </div>
                    </div>

                    <!-- Address Section -->
                    <div class="address-block">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="country">Country Code:</label>
                                <input type="text" class="form-control" placeholder="Country Code" name="country"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="number">Number:</label>
                                <input type="text" class="form-control" placeholder="Number" name="number" required>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6 form-group">
                                <label for="street">Street:</label>
                                <input type="text" class="form-control" placeholder="Street" name="street" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zipcode">Zipcode:</label>
                                <input type="text" class="form-control" placeholder="Zip code" name="zipcode" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control mt-4">Submit</button>
                </form>
                <div class="mt-1 text-center">
                    <p>Already have an account? <a href="/login">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Register Modal For Candidate -->
<div class="modal fade" id="registerCandidateModal" tabindex="-1" role="dialog" aria-labelledby="registerCandidateModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModal">Register as Candidate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/register/candidate">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="dob">Date of birth:</label>
                            <input type="date" class="form-control" id="dob" placeholder="Date of birth" name="dob"
                                   required>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6 form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" name="email"
                                   required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   name="password" required>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-6 form-group">
                            <label for="phone">Phone Number:</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone"
                                   required>
                        </div>
                        <div class="col-md-6 form-group city">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
                        </div>
                    </div>

                    <!-- Address Section -->
                    <div class="address-block">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="country">Country Code:</label>
                                <input type="text" class="form-control" id="country" placeholder="Country Code"
                                       name="country" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="number">Number:</label>
                                <input type="text" class="form-control" id="number" placeholder="Number" name="number"
                                       required>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6 form-group">
                                <label for="street">Street:</label>
                                <input type="text" class="form-control" id="street" placeholder="Street" name="street"
                                       required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zipcode">Zipcode:</label>
                                <input type="text" class="form-control" id="zipcode" placeholder="Zip code"
                                       name="zipcode" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary form-control mt-4">Submit</button>
                </form>
                <div class="mt-1 text-center">
                    <p>Already have an account? <a href="/login">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
