<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="sidebar bg-light border-right">
    <div class="logo text-center py-4">
        <a href="/candidates/home">
            <h2 class="font-weight-bold text-primary">JobHuntly</h2>
        </a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="/candidates/dashboard-candidate">
                <i class="bi bi-house-door mr-2"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="#">
                <i class="bi bi-chat-left-dots mr-2"></i>Messages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="#">
                <i class="bi bi-file-earmark-text mr-2"></i>My Applications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="/candidates/job-search">
                <i class="bi bi-search mr-2"></i>Find Jobs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="/candidates/company-search">
                <i class="bi bi-building mr-2"></i>Browse Companies
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="/candidates/profile">
                <i class="bi bi-person mr-2"></i>My Public Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="#">
                <i class="bi bi-gear mr-2"></i>Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-medium" href="#">
                <i class="bi bi-question-circle mr-2"></i>Help Center
            </a>
        </li>

        <!-- Move Logout item to the end -->
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary w-100" type="submit">Logout</button>
            </form>
        </li>
    </ul>
</div>
</html>